.advantages {
  margin: 0 auto;
  padding: 0;
  padding-top: 38px;
  width: 320px;
}
.advantages__slogan {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-family: @main-font;
  font-size: 24px;
  line-height: 31px;
  font-weight: 100;
  color: @darkblue;
  &:first-child {
    margin-bottom: 5px;
  }
}
.advantages__list-wrapper {
  padding-top: 74px;
  background-color: #f2f2f2;
}
.advantages__list {
  list-style: none;
}
.advantages__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 38px;
  }
}
.advantages__item-title {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 37px;
  font-family: @main-font;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.advantages__item-desc {
  margin: 0;
  margin-left: -20px;
  padding-right: 20px;
  font-family: @main-font;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @darkblue;
}
.advantages__item:last-child {
  .advantages__item-title {
    margin-bottom: 14px;
  }
}
.advantages__item:last-child {
  .advantages__item-desc {
    margin-left: -18px;
    padding-right: 15px;
  }
}
.advantages__img {
  max-height: 280px;
  text-align: center;
  overflow: hidden;
}