.contacts {
  margin: 0 auto;
  padding: 0;
  padding-top: 120px;
  width: 320px;
}
.contacts__slogan {
  font-family: @main-font;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  text-align: center;
  color: @darkblue;
}
.contacts__info {
  padding-top: 14px;
  text-align: center;
}
.contacts__info {
  margin-bottom: 50px;
  b {
    font-family: @main-font;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: @darkblue;
  }
  span {
    font-family: @main-font;
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
    color: @red;
  }
}
.contacts__phone {
  margin-bottom: 18px;
}
.contacts__mail {
  margin-bottom: 25px;
  padding-left: 5px;
}
.contacts__address {
  padding: 0 20px;
}
.contacts__map {
  max-height: 203px;
  text-align: center;
  overflow: hidden;
  img {
    transform: translateY(-120px);
  }
}